```{=html}

<div class="list grid quarto-listing-cols-2"">

<% for (const tile of items) { %>

  <a class="quarto-grid-link" href="<%- tile.href %>" target=_self>
    <div class="quarto-grid-item card h-100 w-200">
      <% if (tile.image) { %>
        <div class="listing-item-img-placeholder card-img-top" style="background-color: white;">
          <img class="thumbnail-image card-img" src="<%- tile.image %>" style="display:block;margin-right:auto;margin-left:auto;height:100%;">
        </div>
      <% } %>
      <div class="card-body post-contents">
        <!-- <h5 class="no-anchor card-title listing-title"><%= tile.title %></h5> -->
        <b class="no-anchor card-title listing-title" style="color:#85150F;"><%= tile.title %></b>
        <div class="card-text listing-description">
          <small> 
            <%= tile.description %> 
          </small>
        </div>
      </div>
      <% if (tile.url) { %>
        <div class="card-footer" style="color:#85150F; text-decoration-line: underline;">
          <small>
            <%- tile.url %>
          </small>
        </div>
      <% } %>
    </div>
  </a>
  
<% } %>

</div>

```
